*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.bgImage {    
    background-image: url('/Users/alimusli/Desktop/SoftUni/ReactJS/Demos/Demo 21.03.2023/my-app/public/notebook-compasses-near-binoculars-maps_23-2147793504.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.imageUrl {
    height: 500px;
}

.comments{
    margin-bottom: 20px;
}

.newComment{
    border-bottom-style: groove;
}

.delBtn{
    margin-left: 730px;
}

.noComment{
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}

.btns {
    background: #f9004d;
    color: white;
    text-decoration: none;
    border: 1px solid transparent;
    font-weight: bold;
    padding: 2px 20px;
    border-radius: 30px;
    transition: .4s;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 5px;
}

.btns button:hover {
    background: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

.comments p{
    font-size: 18px;
}

.comments p span{
    color: blue;
}

.spann{
    color: blue;
}

.card {
    width: 60%;
    padding: 20px;
}