*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.bgImage {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('/Users/alimusli/Desktop/SoftUni/ReactJS/Demos/Demo 21.03.2023/my-app/public/realistic-travel-background-with-elements_52683-77784.jpg.avif');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.createBtn{
    margin-left: 15px;
}

.error{
    color: red;
}

.linkbtn{
    color: black;
    text-decoration: none;
    text-align: center;
    margin-top: 15px;
}

.linkbtn span{
    color: red;
}