.col{
    margin-right: 190px;
    margin-left: 190px;
    margin-top: 10px;
    margin-bottom: 30px;
    
}

.col img{
    width: 100%;
    height: 800px;
}

.btnDetails{
    width: 30%;
    margin-left: 400px;
    text-align: center;
}

.btnLike {
    width: 13%;
}

